{{# partial "memberHeader"}}

    <form method="post">
        <label for="tipo_transporte">Transporte</label>
        <select id="tipo_transporte" name="tipo_transporte">
            <option value="camioneta">Camion</option>
            <option value="auto">Auto</option>
            <option value="moto">Moto</option>
            <option value="bici">Bici</option>
            <option value="pie">Pie</option>
            <option value="servicio_Contratado">ServicioContratado</option>
            <option value="tren">Tren</option>
            <option value="colectivo">Colectivo</option>
            <option value="subte">Subte</option>
        </select>
        <br>

        <value>Transporte Publico</value>
         <select id="transporte_publico" name="transporte_publico">
             {{#each transportesPublicos}}
                 <option value="{{id}}">{{nombre}}</option>
             {{/each}}
         </select>
        <br>

        <value>Vehiculo Particular</value>
        <select id="vehiculosParticular" name="vehiculosParticular">
            {{#each vehiculosParticular}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>
        <br>

        <value>Parada Inicial</value>
        <select id="parada-inicial" name="parada-inicial">
            {{#each paradas}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>
        <br>

        <value>Parada Final</value>
        <select id="parada-final" name="parada-final">
            {{#each paradas}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>
        <br>

<!--        TODO esto hay que ver como verga con los de front-->

        <value>Localidad Inicial</value>
        <select id="localidad-inicial" name="localidad-inicial">
            {{#each localidades}}
                <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
            {{/each}}
        </select>
        <br>

        <value>Calle</value>
        <input type="text" id="calle" name="calle">
        <value>Altura</value>
        <input type="text" id="altura" name="altura">
        <br>

        <value>Localidad Final</value>
        <select id="localidad-final" name="localidad-final">
            {{#each localidades}}
                <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
            {{/each}}
        </select>
        <br>

        <value>Calle</value>
        <input  type="text" id="calle" name="calle">
        <value>Altura</value>
        <input type="text" id="altura" name="altura">
        <br>

        <input type="submit" value="Crear Trayecto">
    </form>

{{/partial}}
{{> memberHeader.hbs}}