{{# partial "memberHeader"}}


    <style>
    .inv {
        display: none;
    }
    </style>

    <h1>Seleccione el tipo de transporte usado en el tramo</h1>
    <select id="target">
        <option value=""> ---- </option>
        <option value="particular">Vehiculo Particular</option>
        <option value="contratado">Servicio Contratado</option>
        <option value="publico">Transporte Publico</option>
        <option value="otro">Otro</option>
        <select>

            <div id="otro" class="inv">
                <form method="post">
                <select name="transporte">
                    {{#each noContaminantes}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>

                <select id="localidad-inicial" name="localidad-direccion-inicial">

                    {{#each localidades}}
                        <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                        {{/each}}
                </select>

                <input type="text" placeholder="Calle Inicial" name="calle-direccion-inicial">
                <input type="text" placeholder="Altura Inicial" name="altura-direccion-inicial">

                <select id="localidad-final" name="localidad-direccion-final">
                        {{#each localidades}}
                        <option  value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                        {{/each}}
                </select>

                <input  type="text" placeholder="Calle Final" name="calle-direccion-final">
                <input type="text" placeholder="Altura Final" name="altura-direccion-final">

                <br>
                <h3>Que organizaciones participan de este tramo?</h3>
                {{#each orgs}}
                    <input type="checkbox" id="org{{@index}}" name="org{{@index}}" value="{{id}}">
                    <label for="org{{@index}}"> {{razonSocial}}</label><br>
                {{/each}}

                <input type="submit">
                </form>
            </div>

            <div id="particular" class="inv">
                <form method="post">

                <select name="transporte">
                    {{#each particulares}}
                        <option value="{{id}}">{{tipoDeTransporte}} - {{nombre}}</option>
                    {{/each}}
                </select>

                <select id="localidad-inicial" name="localidad-direccion-inicial">
                    {{#each localidades}}
                        <option class = "{{id}}" value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                    {{/each}}
                </select>

                <input type="text" placeholder="Calle Inicial" name="calle-direccion-inicial">
                <input type="text" placeholder="Altura Inicial" name="altura-direccion-inicial">

                <select id="localidad-final" name="localidad-direccion-final">
                    {{#each localidades}}
                        <option class = "{{id}}" value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                    {{/each}}
                </select>

                <input  type="text" placeholder="Calle Final" name="calle-direccion-final">
                <input type="text" placeholder="Altura Final" name="altura-direccion-final">

                <h3>Que organizaciones participan de este tramo?</h3>
                {{#each orgs}}
                    <input type="checkbox" id="org{{@index}}" name="org{{@index}}" value="{{id}}">
                    <label for="org{{@index}}"> {{razonSocial}}</label><br>
                {{/each}}
                <input type="submit">
                </form>
            </div>

            <div id="contratado" class="inv">
                <form method="post">
                <select name="transporte">
                    {{#each contratados}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>

                <select id="localidad-inicial" name="localidad-direccion-inicial">
                    {{#each localidades}}
                        <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                    {{/each}}
                </select>

                <input type="text" placeholder="Calle Inicial" name="calle-direccion-inicial">
                <input type="text" placeholder="Altura Inicial" name="altura-direccion-inicial">

                <select id="localidad-final" name="localidad-direccion-final">
                    {{#each localidades}}
                        <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>
                    {{/each}}
                </select>

                <input  type="text" placeholder="Calle Final" name="calle-direccion-final">
                <input type="text" placeholder="Altura Final" name="altura-direccion-final">
                <h3>Que organizaciones participan de este tramo?</h3>
                {{#each orgs}}
                    <input type="checkbox" id="org{{@index}}" name="org{{@index}}" value="{{id}}">
                    <label for="org{{@index}}"> {{razonSocial}}</label><br>
                {{/each}}
                <input type="submit">
                </form>
            </div>

            <div id="publico" class="inv">
                <form method="post">
                <select name="transporte" id="transporte">
                    {{#each publicos}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>

                <select id="parada-inicial" name="direccion-inicial"  style="display: none;">

                    {{#each paradas}}
                        <option class="elemento {{direccion.id}}" style="display: none;" data-parent= "{{nombre}}" value="{{direccion.id}}">{{direccion.id}} {{nombre}}</option>
                    {{/each}}
                </select>

                <select id="parada-final" name="direccion-final">
                    {{#each paradas}}
                        <option class="elemento {{direccion.id}}" style="display: none;" data-parent= "{{nombre}}" value="{{direccion.id}}">{{direccion.id}} {{nombre}}</option>
                    {{/each}}
                </select>
                <h3>Que organizaciones participan de este tramo?</h3>
                {{#each orgs}}
                    <input type="checkbox" id="org{{@index}}" name="org{{@index}}" value="{{id}}">
                    <label for="org{{@index}}"> {{razonSocial}}</label><br>
                {{/each}}
                <input type="submit">
                </form>
            </div>
<!--            todo tendria que ir a la vista del trayecto-->

            <form method="post" action="/trayectos/actualizar">
                <button type="submit">Terminar</button>
            </form>

            <script>
            document
                .getElementById('target')
                .addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),
                        target = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv';
                    }
                    if (target !== null ) {
                        target.className = 'vis';
                    }
            });
            const filtro = document.getElementById('transporte');
            const elementos = document.querySelectorAll('.elemento');




        const select1 = document.getElementById('transporte');
        const select2 = document.getElementById('parada-inicial');
        const select3 = document.getElementById('parada-final');
        const opciones = select2.getElementsByTagName('option');
        const opciones3 = select3.getElementsByTagName('option');
         document.addEventListener("DOMContentLoaded", function(event) {
             select2.style.display='block';
            select1.value = select1.getElementsByTagName('option')[0];
      });

        select1.addEventListener('change', function() {

                const select = document.getElementById('transporte');
                const opcioness = select.options;
                const indiceSeleccionado = select.selectedIndex;
                const opcionSeleccionada = opcioness.item(indiceSeleccionado);
                const nombreOpcion  = opcionSeleccionada.textContent;
                console.log(nombreOpcion);
                select2.style.display='block';
                console.log("ESTOY FUNCIONANDOOOO");

                    const valorSeleccionado = select1.value;
                    for (let i = 0; i < opciones.length; i++) {
                        console.log("ADENTRO DEL FOR");
                        const opcion = opciones[i];
                        const padres = opcion.getAttribute('data-parent');
                        if(padres.includes(opcionSeleccionada.textContent) == true){
                            opcion.style.display = 'block';
                            console.log("ADENTRO DEL IF");
                        }else{
                            opcion.style.display = 'none';
                            console.log("ADENTRO DEL else IF");
                        }

                    }
                     for (let i = 0; i < opciones3.length; i++) {
                        console.log("ADENTRO DEL FOR");
                        const opcion = opciones3[i];
                        const padres = opcion.getAttribute('data-parent');
                        if(padres.includes(opcionSeleccionada.textContent) == true){
                            opcion.style.display = 'block';
                            console.log("ADENTRO DEL IF");
                        }else{
                            opcion.style.display = 'none';
                            console.log("ADENTRO DEL else IF");
                        }

                    }

        });

        </script>

     <!--     </div>-->

     <!--        <label for="tipo_transporte">Transporte</label>-->
<!--        <select id="tipo_transporte" name="tipo_transporte">-->
<!--            <option value="camioneta">Camion</option>-->
<!--            <option value="auto">Auto</option>-->
<!--            <option value="moto">Moto</option>-->
<!--            <option value="bici">Bici</option>-->
<!--            <option value="pie">Pie</option>-->
<!--            <option value="servicio_Contratado">ServicioContratado</option>-->
<!--            <option value="tren">Tren</option>-->
<!--            <option value="colectivo">Colectivo</option>-->
<!--            <option value="subte">Subte</option>-->
<!--        </select>-->
<!--        <br>-->


<!--        <value>TransportePublico</value>-->
<!--         <select id="transporte_publico" name="transporte_publico">-->
<!--             {{#each transportesPublicos}}-->
<!--                 <option value="{{id}}">{{nombre}}</option>-->
<!--             {{/each}}-->
<!--         </select>-->
<!--        <br>-->


<!--        <value>Vehiculo Particular</value>-->
<!--        <select id="vehiculosParticular" name="vehiculosParticular">-->
<!--            {{#each vehiculosParticular}}-->
<!--                <option value="{{id}}">{{nombre}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--        <br>-->

<!--        <value>Parada Inicial</value>-->
<!--        <select id="parada-inicial" name="direccion-inicial">-->
<!--            {{#each paradas}}-->
<!--                <option value="{{direccion.id}}">{{nombre}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--        <br>-->

<!--        <value>Parada Final</value>-->
<!--        <select id="parada-final" name="direccion-final">-->
<!--            {{#each paradas}}-->
<!--                <option value="{{direccion.id}}">{{nombre}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--        <br>-->

<!--        <value>Localidad Inicial</value>-->
<!--        <select id="localidad-inicial" name="localidad-direccion-inicial">-->
<!--            {{#each localidades}}-->
<!--                <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--        <br>-->

<!--        <value>Calle</value>-->
<!--        <input type="text" id="calle" name="calle">-->
<!--        <value>Altura</value>-->
<!--        <input type="text" id="altura" name="altura">-->
<!--        <br>-->

<!--        <value>Localidad Final</value>-->
<!--        <select id="localidad-final" name="localidad-direccion-final">-->
<!--            {{#each localidades}}-->
<!--                <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>-->
<!--            {{/each}}-->
<!--        </select>-->
<!--        <br>-->

<!--        <value>Calle</value>-->
<!--        <input  type="text" id="calle" name="calle">-->
<!--        <value>Altura</value>-->
<!--        <input type="text" id="altura" name="altura">-->
<!--        <br>-->

<!--        <input type="submit" value="Crear Trayecto">-->
<!--    </form>-->


{{!-- NOTA: dejo esto aca abajo como referencia nomas. Si no sirve despues lo borro --}}

    <!--   <div class="hc-content">-->
    <!--        <div class="hc-card">-->
    <!--            <div>-->
    <!--                <span class="hc-card-title">-->
    <!--                    Crear trayecto-->
    <!--                </span>-->
    <!--            </div>-->
    <!--            <div class="hc-card-body mt-2" id="nuevaParadaDiv">-->
    <!--                <form class="alta-form" method="post">-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="tipo_transporte">-->
    <!--                                Transporte-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="tipo_transporte">-->
    <!--                                <option value="camioneta">Camion</option>-->
    <!--                                <option value="auto">Auto</option>-->
    <!--                                <option value="moto">Moto</option>-->
    <!--                                <option value="bici">Bici</option>-->
    <!--                                <option value="pie">Pie</option>-->
    <!--                                <option value="servicio_Contratado">ServicioContratado</option>-->
    <!--                                <option value="tren">Tren</option>-->
    <!--                                <option value="colectivo">Colectivo</option>-->
    <!--                                <option value="subte">Subte</option>-->
    <!--                            </select>                          -->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Línea-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="transporte_publico" name="transporte_publico">-->
            <!--                                {{#each transportesPublicos}}-->
    <!--                                <option value="{{id}}">{{nombre}}</option>-->
            <!--                                {{/each}}-->
    <!--                            </select>                          -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="nombreParada">-->
    <!--                                Parada inicial-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="parada-inicial" name="direccion-inicial">-->
            <!--                                {{#each paradas}}-->
    <!--                                <option value="{{direccion.id}}">{{nombre}}</option>-->
            <!--                                {{/each}}-->
    <!--                            </select> -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="nombreParada">-->
    <!--                                Parada final-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="parada-final" name="direccion-final">-->
            <!--                                {{#each paradas}}-->
    <!--                                <option value="{{direccion.id}}">{{nombre}}</option>-->
            <!--                                {{/each}}-->
    <!--                            </select> -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="nombreParada">-->
    <!--                                Localidad inicial-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="localidad-inicial" name="localidad-direccion-inicial">-->
            <!--                                {{#each localidades}}-->
    <!--                                    <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>-->
            <!--                                {{/each}}-->
    <!--                            </select>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Calle-->
    <!--                            </label>-->
    <!--                            <input type="text" class="form-control" id="calle" name="calle">                -->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Altura-->
    <!--                            </label>-->
    <!--                            <input type="number" class="form-control" id="altura" name="altura">                -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="nombreParada">-->
    <!--                                Localidad final-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="localidad-final" name="localidad-direccion-final">-->
            <!--                                {{#each localidades}}-->
    <!--                                    <option value="{{id}}">{{municipio.provincia.nombre}} - {{municipio.nombre}} - {{nombre}}</option>-->
            <!--                                {{/each}}-->
    <!--                            </select>-->
    <!--                        </div>-->
    <!--                    </div>-->


    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Calle-->
    <!--                            </label>-->
    <!--                            <input type="text" class="form-control" id="calle" name="calle">                -->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Altura-->
    <!--                            </label>-->
    <!--                            <input type="number" class="form-control" id="altura" name="altura">                -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                 -->
    <!--                    <div class="alta-form-row">-->
    <!--                        <button type="submit" class="alta-button" value="Crear trayecto">-->
    <!--                            Crear trayecto-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            <div class="hc-card-body d-none" id="nuevaLineaDiv">-->
    <!--                <form action="" class="alta-form" id="nuevaLineaForm">-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="transporteSelect">-->
    <!--                                Transporte-->
    <!--                            </label>-->
    <!--                            <select class="form-control" id="transporteSelect">-->
    <!--                                <option value="0">Colectivo</option>-->
    <!--                            </select>                          -->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="nombreLinea">-->
    <!--                                Nombre de la Línea-->
    <!--                            </label>-->
    <!--                            <input type="text" class="form-control" id="nombreLinea" placeholder="">                                                 -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-paradas">-->
    <!--                        <span class="alta-paradas-title">-->
    <!--                            Paradas-->
    <!--                        </span>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name">-->
    <!--                                Importar Archivo-->
    <!--                            </label>-->
    <!--                            <input class="form-control" type="file" id="formFile">                        -->
    <!--                        </div>-->
    <!--                        <div class="alta-paradas-table">-->
    <!--                            <span class="alta-paradas-subtitle">-->
    <!--                                Agregar Parada-->
    <!--                            </span>-->
    <!--                            <div class="alta-paradas-control">-->
    <!--                                <div class="form-group alta-numero-parada">-->
    <!--                                    <label class="alta-form-group-name" for="numeroParada">-->
    <!--                                        #-->
    <!--                                    </label>-->
    <!--                                    <input type="number" class="form-control" id="numeroParada" value="1" readonly>-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label class="alta-form-group-name">-->
    <!--                                        Nombre de la Parada-->
    <!--                                    </label>-->
    <!--                                    <input type="text" class="form-control" id="nombreParada">-->
    <!--                                </div>-->
    <!--                                <div class="form-group">-->
    <!--                                    <label class="alta-form-group-name">-->
    <!--                                        Dirección de la Parada-->
    <!--                                    </label>-->
    <!--                                    <input type="text" class="form-control" id="nombreParada">-->
    <!--                                </div>-->
    <!--                                <button class="agregar-parada-button" id="agregarParadaButton" type="button">-->
    <!--                                    <i class="fa-solid fa-plus"></i>-->
    <!--                                </button>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <button type="submit" class="alta-button">-->
    <!--                            Confirmar-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--            <div class="hc-card-body d-none" id="nuevoTransportePrivadoDiv">-->
    <!--                <form action="" class="alta-form" id="nuevoTransportePrivadoForm">-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="alta-form-group-name" for="transporteSelect">-->
    <!--                                Nombre de Nuevo Servicio-->
    <!--                            </label>-->
    <!--                            <input type="text" class="form-control" id="nombreTransportePrivado" placeholder="">                                                 -->
    <!--                        -->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="alta-form-row">-->
    <!--                        <button type="submit" class="alta-button">-->
    <!--                            Confirmar-->
    <!--                        </button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

{{/partial}}
{{> headers/memberHeader.hbs}}