{{# partial "contenido"}}

    <h1>Agregar un trayecto</h1>

    <form method="post">
        <input type="text" id="username" name="username" placeholder="Usuario"  required>

        <label for="tipo_transporte">Transporte</label>
        <select id="tipo_transporte" name="tipo_transporte">
            <option value="camioneta">Camion</option>
            <option value="auto">Auto</option>
            <option value="moto">Moto</option>
            <option value="bici">Bici</option>
            <option value="pie">Pie</option>
            <option value="servicio_Contratado">ServicioContratado</option>
            <option value="tren">Tren</option>
            <option value="colectivo">Colectivo</option>
            <option value="subte">Subte</option>
        </select>

         <select id="transporte" name="transporte">
             {{#each camioneta}}
             <option data-parent="camioneta" value="{{camioneta.id}}">{{camioneta.nombre}}</option>
             {{/each}}
             {{#each auto}}
                 <option data-parent="auto" value="{{auto.id}}">{{auto.nombre}}</option>
             {{/each}}
             {{#each moto}}
                 <option data-parent="moto" value="{{moto.id}}">{{moto.nombre}}</option>
             {{/each}}
             {{#each servicio_contratado}}
                 <option data-parent="servicio_contratado" value="{{servicio_contratado.id}}">{{servicio_contratado.nombre}}</option>
             {{/each}}
             {{#each colectivo}}
                 <option data-parent="colectivo" value="{{colectivo.id}}">{{colectivo.nombre}}</option>
             {{/each}}
             {{#each subte}}
                 <option data-parent="subte" value="{{subte.id}}">{{subte.nombre}}</option>
             {{/each}}
             {{#each tren}}
                 <option data-parent="tren" value="{{tren.id}}">{{tren.nombre}}</option>
             {{/each}}
         </select>
        <input type="submit" value="Log In">
    </form>


{{/partial}}
{{> base.hbs}}
