{{# partial "contenido"}}

    <h1>Agregar un trayecto</h1>

    <form method="post">

        <label for="tipo_transporte">Transporte</label>
        <select id="tipo_transporte" name="tipo_transporte">
            <option value="camioneta">Camion</option>
            <option value="auto">Auto</option>
            <option value="moto">Moto</option>
            <option value="bici">Bici</option>
            <option value="pie">Pie</option>
            <option value="servicio_Contratado">ServicioContratado</option>
            <option value="tren">Tren</option>
            <option value="colectivo">Colectivo</option>
            <option value="subte">Subte</option>
        </select>

         <select id="transporte_publico" name="transporte_publico">
             {{#each transportesPublicos}}
                 <option value="{{id}}">{{nombre}}</option>
             {{/each}}
         </select>

        <select id="transporte_privado" name="transporte_privado">
            {{#each transportesPrivados}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>

        <select id="parada-inicial" name="parada-inicial">
            {{#each paradas}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>

        <select id="parada-final" name="parada-final">
            {{#each paradas}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Log In">
    </form>


{{/partial}}
{{> base.hbs}}
