{{# partial "memberHeader" }}

  <div class="hc-content">
      <h1>Trayectos</h1>
      <hr />
    <form method="post">
      <button type="submit" class="btn btn-success">Crear nuevo trayecto</button>
    </form>

    {{#each miembro.trayectos}}
            <div>
                <h1> El id del trayecto es: {{id}}   </h1>
                <button type="submit" onclick="window.location.href = window.location.href + '/{{id}}'">Ver</button>
                <form method="post" action="trayecto/{{id}}/eliminar">
                    <input type="hidden" name="trayecto" value="{{id}}">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
    {{/each}}

<!--      <hr />-->
<!--      <table class="table">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th class="text-center" scope="col"> <h4 class="fw-bold"> ID del trayecto </h4> </th>-->
<!--            <th class="text-center" scope="col"></th>-->
<!--            <th class="text-center" scope="col"></th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody class="table-body">-->
<!--         {{#each trayectos}}-->
<!--          <tr>-->
<!--            <th class="text-center" scope="row">-->
<!--              <div class="mt-2"> <h4 class="fw-bold"> {{this.id}} </h4> </div>-->
<!--            </th>-->
<!--            <td class="text-end"><button type="submit" class="btn btn-success" onclick="window.location.href = window.location.href + '/{{this.id}}'">Ver</button></td>-->
<!--            <form method="post" action="trayecto/{{this.id}}/eliminar">-->
<!--                <td class="text-center">-->
<!--                    <input type="hidden" name="trayecto" value="{{this.id}}">-->
<!--                    <button type="submit" class="btn btn-danger">Eliminar</button>-->
<!--                </td>-->
<!--            </form>-->
<!--          </tr>-->
<!--            {{/each}}-->
<!--        </tbody>-->
<!--      </table>-->
<!--  </div>  -->

{{/partial}}

{{> headers/memberHeader.hbs}}
