{{# partial "memberHeader" }}

    <h1>Trayecto {{trayecto.id}} tiene los siguientes tramos</h1>

    {{#each trayecto.tramos }}
        <h1> Transporte: {{transporte.tipoDeTransporte}} - Distancia: {{distancia.valor}} {{distancia.unidad}} </h1>
    {{/each}}
    <h1> El total de hc es de: {{huella}}</h1>


{{/partial}}
{{> headers/memberHeader.hbs}}
