{{# partial "adminHeader"}}
    <!--  <h1>Agregar Transporte</h1>
    <form method="post" action="agregarTransporte">
        <select name="tipoTransporte" id="tipoTransporte">
            <option value=""> ---- </option>
            <option value="particular">Vehiculo Particular</option>
            <option value="contratado">Servicio Contratado</option>
            <option value="publico">Transporte Publico</option>
            <option value="otro">Otro</option>
        </select>
        <input type="text" name="nombre-parada" placeholder="Nombre">
        <input type="submit">
    </form>
    <h1>Modicar transporte publico</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
    <tbody class="table-body">
    {{#each transporte}}
        <form method="post" class="form=inline">
            <!-- hidden = cosas para el back -->
            <!-- <input type="hidden"  name="id_transporte" value="{{id}}">
            <tr>
                <th class="text-center" scope="row">
                    <div type="text" class="mt-2" value="{{nombre}}">{{nombre}}</div>
                </th>
                <td class="text-end"><button type="submit" class="btn btn-success" id="estado"
                                             value="agregarParada" >Agregar Paradas</button></td>
                <td class="text-center"><button type="submit" class="btn btn-danger" id="estado"
                                                value="eliminar" >Eliminar</button></td>
            </tr>
            <tr>
        </form>
    {{/each}}
    </tbody> -->

    <div class="container">
        <div class="card border-success mb-5 mx-auto mt-7" style="max-width: 60rem; margin-top: -200px;">
            <div class="card-header bg-transparent border-success text-center">
                <h2>Agregar Parada</h2>
            </div>
            <div class="card-body text-success">
                <h5 class="card-title text-center mb-2">Por favor, completa los siguientes campos:</h5>


                <form method="post" action="agregarParada">
                    <div class="form-group mb-2">
                        <label for="nombre-parada">Nombre parada</label>
                        <input type="text" name="nombre-parada" id="nombre-parada" placeholder="Nombre">
                    </div>
                    <div class="form-group mb-2">
                        <label for="numero-parada">Numero parada</label>
                        <input type="number" name="numero-parada" id="numero-parada" placeholder="Numero parada">
                    </div>
                    <div class="form-group mb-2">
                        <label for="distancia-anterior-parada">Distancia con la parada anterior</label>
                        <input type="number" name="distancia-anterior-parada" id="distancia-anterior-parada" placeholder="distancia-anterior-parada">
                    </div>
                    <div class="form-group mb-2">
                        <label for="distancia-proxima-parada">Distancia proxima parada</label>
                        <input type="number" name="distancia-proxima-parada" id="distancia-proxima-parada" placeholder="distancia-proxima-parada">
                    </div>
                    <!-- <div class="form-group mb-2">
                <label for="transporte">Transporte</label>
                <select name="transporte" id="transporte">
                    {{#each transporte}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div> -->
                    <div class="form-group mb-2">
                        <label for="localidad">Localidad</label>
                        <select name="localidad" id="localidad">
                            {{#each localidad}}
                                <option value="{{id}}">{{nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label for="calle">Calle</label>
                        <input type="text" name="calle" id="calle" placeholder="Calle">
                    </div>
                    <div class="form-group mb-2">
                        <label for="Altura">Altura</label>
                        <input type="text" name="altura" id="altura" placeholder="Altura">
                    </div>

                    <div class="text-center">
                        <input type="submit" class="btn btn-success mt-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> headers/adminHeader.hbs}}