{{# partial "adminHeader"}}
    <h1>Transportes</h1>
    <button onclick="redirectTo('/agregarTransporte')" class="btn btn-warning m-2" style="height: 3rem; width:22rem; font-size: 1.3rem; border-radius: 1rem;" > Agregar transporte Nuevo</button>

    <h2>Transportes vigentes</h2>

    <table class="table" border="groove">
        <thead>
        <tr>
            <th class="text-center" scope="col">Nombre del Transporte</th>
            <th class="text-center" scope="col">Tipo transporte</th>
            <th class="text-center" scope="col">Nombre FE</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody class="table-body">
        <script>

        </script>

        {{#each transporte}}
            <form method="post" class="form=inline">
                <!-- hidden = cosas para el back -->
                <input type="hidden"  name="id_transporte" value="{{id}}">
                <tr>
                    <th class="text-center" scope="row">
                        <div type="text" class="mt-2" value="{{nombre}}">{{nombre}}</div>
                    </th>
                    <th class="text-center" scope="row">
                        <div type="text" class="mt-2" value="{{tipoDeTransporte}}">{{tipoDeTransporte}}</div>
                    </th>
                    <th class="text-center" scope="row">
                        <div type="text" class="mt-2" value="{{nombreFE}}">{{nombreFE}}</div>
                    </th>

                    <td class="text-end">
                        <div id="{{tipoDeTransporte}}" style="display: none;">
                            <button type="submit" class="btn btn-primary" id="estado" name="estado" value="ver" >Ver paradas</button>
                        </div>
                    </td>
                    <td class="text-end"  >
                        <div id="{{tipoDeTransporte}}s" style="display: none;">
                            <button type="submit" class="btn btn-success" id="estado" name="estado" value="agregarParada" >Agregar Paradas</button>
                        </div>
                    </td>
                    <td class="text-center"><button type="submit" class="btn btn-danger" id="estado" name="estado"
                                                    value="eliminar" >Eliminar</button></td>
                </tr>

            </form>
        {{/each}}
        </tbody>
    </table>
    <script>
         document.addEventListener("DOMContentLoaded", function(event) {
         document.getElementById("colectivo").style.display = "block";
         document.getElementById("subte").style.display = "block";
         document.getElementById("tren").style.display = "block";
         document.getElementById("colectivos").style.display = "block";
         document.getElementById("subtes").style.display = "block";
         document.getElementById("trens").style.display = "block";

      });





    </script>

{{/partial}}
{{> headers/adminHeader.hbs}}