{{# partial "memberHeader"}}

<script>
    if(!sessionStorage.getItem("memberPath")){
        sessionStorage.setItem("memberPath", document.URL);
    }
</script>

    <div class="hc-content">
        <div class="hc-card">
            <div class="mb-3">
                <span class="hc-card-title2">
                    Bienvenido/a {{miembro.nombre}}!
                </span>
            </div>
            <div>
                <div class="hc-card">
                    <div class="mb-3">
                        <span class="hc-card-title">
                            Datos personales - Mi perfil
                        </span>
                    </div>
                    <p>Nombre: {{miembro.nombre}}</p>
                    <p>Apellido: {{miembro.apellido}}</p>
                    <p>Tipo de documento: {{miembro.tipoDoc}}</p>
                    <p>Documento: {{miembro.documento}}</p>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{> headers/memberHeader.hbs}}