{{# partial "memberHeader"}}

        {{#each organizaciones}}
            <form method="post">
            <p>Me quiero unir a la organizacion: {{this.razonSocial}}</p>
            <input type="hidden" name="org" value="{{this.id}}">
                <input type="hidden" name="miembro" value="{{miembro.id}}">
                <select name="sector">
                    {{#each sectores}}
                    <option value="{{this.id}}">Sector - {{this.id}}</option>
                    {{/each}}
                </select>
            <input type="submit">Unirse</input>
            </form>
        {{/each}}

{{/partial}}
{{> memberHeader.hbs}}