{{# partial "organizationHeader"}}

    <script>
        if(!sessionStorage.getItem("savedPath")){
            sessionStorage.setItem("savedPath", document.URL);
        }
    </script>
    <div class="hc-content">
        <div class="hc-card">
            <div class="mb-3">
                <span class="hc-card-title2">
                   Organizacion: {{organizacion.razonSocial}}!
                </span>
            </div>
            <div>
                <div class="hc-card">
                    <div class="mb-3">
                        <span class="hc-card-title">
                            Datos de la organizacion
                        </span>
                    </div>
                    <div class="card">
                        <div class="card-body"> <b>Razon Social:</b> {{organizacion.razonSocial}}  </div>
                        <div class="card-body"> <b>Numero identificador:</b> {{organizacion.id}}</div>
                        <div class="card-body"> <b>Clasificacion:</b> {{organizacion.clasificacion}}</div>
                        <div class="card-body"> <b>Tipo de Organizacion:</b> {{organizacion.tipo}}</div>
                        <div class="card-body"><b>Huella de Carbono:</b>  {{huella}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/partial}}
{{> headers/organizationHeader.hbs}}