{{# partial "organizationHeader"}}

    <p>Razon Social: {{organizacion.razonSocial}}</p>
    <p>Numero identificador: {{organizacion.id}}</p>
    <p>Clasificacion: {{organizacion.clasificacion}}</p>
    <p>Tipo de Organizacion: {{organizacion.tipo}}</p>
    <p>Huella de Carbono: {{huella}}</p>

{{/partial}}
{{> headers/organizationHeader.hbs}}