{{# partial "organizationHeader"  }}

<div class="hc-content">
    <form class="form" method="post">
      <h1>Solicitudes de miembros</h1>
      <hr />
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Tipo de documento</th>
            <th class="text-center" scope="col">Numero de documento</th>
            <th class="text-center" scope="col">Sector</th>
            <th scope="col"></th>
            <th scope="col"></th>

<!--                                <div type="text" readonly class="form-control-plaintext" value="{{this.solicitante.nombre}}">{{this.solicitante.nombre}}</div>-->
<!--                                <div readonly class="form-control-plaintext" value="{{this.solicitante.tipoDoc}}">{{this.solicitante.nombre}}</div>-->
<!--                                <div readonly  class="form-control-plaintext" value="{{this.solicitante.documento}}">{{this.solicitante.nombre}}</div>-->
<!--                                <div readonly class="form-control-plaintext" value="{{this.sector.nombre}}">{{this.solicitante.nombre}}</div>-->

          </tr>
        </thead>
        <tbody class="table-body">
            {{#each solicitud}}
          <tr>
            <th class="text-center" scope="row">
              <div type="text" class="mt-2" value="{{this.solicitante.nombre}}">{{this.solicitante.nombre}}</div>
            </th>
            <td class="text-center">
              <div type="text" class="mt-2" value="{{this.solicitante.tipoDoc}}">{{this.solicitante.tipoDoc}}</div>
            </td>
            <td class="text-center">
              <div type="text" class="mt-2" value="{{this.solicitante.documento}}">{{this.solicitante.documento}}</div>
            </td>
            <td class="text-center">
              <div type="text" class="mt-2" value="{{this.sector.nombre}}">{{this.sector.nombre}}</div>
            </td>
            <td class="text-end"><button type="submit" class="btn btn-success" id="estado" value="aceptado">Aceptar</button></td>
            <td class="text-center"><button type="submit" class="btn btn-danger" id="estado" value="rechazado">Rechazar</button></td>
          </tr>
          <tr>
            {{/each}}
        </tbody>
      </table>
    </form>
  </div>  


{{/partial}}
{{> headers/organizationHeader.hbs}}
